In [1]:
#import library packages
import pandas as p
import matplotlib.pyplot as plt
import seaborn as s
import numpy as n

In [2]:
data = p.read_csv("combined_stock_data.csv")

In [3]:
data1 = p.read_csv("upload_DJIA_table.csv")

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
df=p.concat([data1,data],axis=1)

In [6]:
df=df.dropna()

In [7]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'Unnamed: 0', 'Date', 'Label', 'Top1', 'Top2', 'Top3', 'Top4', 'Top5',
       'Top6', 'Top7', 'Top8', 'Top9', 'Top10', 'Top11', 'Top12', 'Top13',
       'Top14', 'Top15', 'Top16', 'Top17', 'Top18', 'Top19', 'Top20', 'Top21',
       'Top22', 'Top23', 'Top24', 'Top25', 'Para', 'Subjectivity',
       'Objectivity', 'Positive', 'Neutral', 'Negative'],
      dtype='object')

In [20]:
df.rename(columns={"Adj Close":"Adj_Close"},inplace=True)
df.rename(columns={"Unnamed: 0":"year"},inplace=True)

In [21]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj_Close', 'year',
       'Date', 'Label', 'Top1', 'Top2', 'Top3', 'Top4', 'Top5', 'Top6', 'Top7',
       'Top8', 'Top9', 'Top10', 'Top11', 'Top12', 'Top13', 'Top14', 'Top15',
       'Top16', 'Top17', 'Top18', 'Top19', 'Top20', 'Top21', 'Top22', 'Top23',
       'Top24', 'Top25', 'Para', 'Subjectivity', 'Objectivity', 'Positive',
       'Neutral', 'Negative'],
      dtype='object')

In [26]:
del df["year"]
del df["year"]
del df["Top1"]
del df["Top2"]
del df["Top3"]
del df["Top4"]
del df["Top5"]
del df["Top6"]
del df["Top7"]
del df["Top8"]
del df["Top9"]
del df["Top10"]
del df["Top11"]
del df["Top12"]
del df["Top13"]
del df["Top14"]
del df["Top16"]
del df["Top17"]
del df["Top18"]
del df["Top19"]
del df["Top20"]
del df["Top21"]
del df["Top22"]
del df["Top23"]
del df["Top24"]
del df["Top25"]
del df["Para"]
del df["Top15"]

KeyError: 'year'

In [28]:
del df["Top15"]

In [29]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Adj_Close', 'Label',
       'Subjectivity', 'Objectivity', 'Positive', 'Neutral', 'Negative'],
      dtype='object')

In [30]:
df.head()

,Open,High,Low,Close,Volume,Adj_Close,Label,Subjectivity,Objectivity,Positive,Neutral,Negative
0,17924.24023,18002.38086,17916.91016,17949.36914,82160000,17949.36914,1,60.000000,40.000000,0.000000,40.000000,60.000000
1,17712.75977,17930.60938,17711.80078,17929.99023,133030000,17929.99023,1,100.000000,0.000000,100.000000,0.000000,0.000000
2,17456.01953,17704.50977,17456.01953,17694.67969,106380000,17694.67969,1,80.000000,20.000000,0.000000,20.000000,80.000000
3,17190.50977,17409.72070,17190.50977,17409.72070,112190000,17409.72070,1,42.857143,57.142857,0.000000,57.142857,42.857143
4,17355.21094,17355.21094,17063.08008,17140.24023,138740000,17140.24023,0,33.333333,66.666667,16.666667,66.666667,16.666667

In [32]:
df.tail()

,Open,High,Low,Close,Volume,Adj_Close,Label,Subjectivity,Objectivity,Positive,Neutral,Negative
1984,11532.07031,11718.28027,11450.88965,11615.92969,159790000,11615.92969,1,45.454545,54.545455,36.363636,54.545455,9.090909
1985,11632.80957,11633.78027,11453.33984,11532.95996,182550000,11532.95996,0,38.461538,61.538462,15.384615,61.538462,23.076923
1986,11781.70020,11782.34961,11601.51953,11642.46973,173590000,11642.46973,0,56.250000,43.750000,18.750000,43.750000,37.500000
1987,11729.66992,11867.11035,11675.53027,11782.34961,183190000,11782.34961,1,83.333333,16.666667,41.666667,16.666667,41.666667
1988,11432.08984,11759.95996,11388.04004,11734.32031,212830000,11734.32031,0,75.000000,25.000000,18.750000,25.000000,56.250000

In [15]:
#According to the cross-validated MCC scores, the random forest is the best-performing model, so now let's evaluate its performance on the test set.
from sklearn.metrics import confusion_matrix, classification_report, matthews_corrcoef, cohen_kappa_score, accuracy_score, average_precision_score, roc_auc_score

In [16]:
X=df[['Open', 'High', 'Low', 'Close', 'Volume', 'Adj_Close','Subjectivity','Objectivity', 'Positive', 'Neutral', 'Negative']]
#Response variable
y = df.loc[:,'Label']

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

In [18]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

rfc.fit(X_train,y_train)

predictR = rfc.predict(X_test)

print("")
print('Classification report of Random Forest Results:')
print("")

print(classification_report(y_test,predictR))
x = (accuracy_score(y_test,predictR)*100)

print('Accuracy result of Random Forest is:', x)
print("")
cm1=confusion_matrix(y_test,predictR)
print('Confusion Matrix result of Random Forest is:\n',cm1)
print("")
sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )
print("")
specificity1 = cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)
print("")

Classification report of Random Forest Results:

              precision    recall  f1-score   support

           0       0.64      0.61      0.62       277
           1       0.67      0.71      0.69       319

    accuracy                           0.66       596
   macro avg       0.66      0.66      0.66       596
weighted avg       0.66      0.66      0.66       596

Accuracy result of Random Forest is: 66.10738255033557

Confusion Matrix result of Random Forest is:
 [[168 109]
 [ 93 226]]

Sensitivity :  0.6064981949458483

Specificity :  0.7084639498432602

In [31]:
import joblib
joblib.dump(rfc,"rf.pkl")

['rf.pkl']